.box {
    float: left;
    width: 28.83%;
    padding: 30px;
   }
   .clearfix::after {
    content: "";
    clear: both;
    display: table;
   }
   .boton {
    display: inline-block;
    margin: 35px 0px;
    width: 50.33%;
    padding: 30px ;
    border: 0px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
    margin-right: 1px;
    margin-bottom: 0%;
   }
.titulo {
 text-align: center;
    padding: 30px;
        background-color: bisque;
}
.footer {
       padding: 30px;
           background-color: rgb(181, 0, 218);
   }

